@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";
@plugin 'daisyui' {
	exclude: rootscrollgutter;
}

@layer base {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Noto Sans";
	scroll-behavior: smooth;
	background-color: #f5f5f5;
	min-height: 100vh;
	overflow: hidden;
	color: black;
}