@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";
@plugin 'daisyui';

:root {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Noto Sans";
	scroll-behavior: smooth;
	background-color: #f5f5f5;
	min-height: 100vh;
	overflow: hidden;
}