.header {
	display: flex;
	flex-direction: row;
	padding: 1rem;
	height: 255px;
	background-color: white;

}

.header .header-cover {
	position: relative;
}

.header .cover-image {
	max-width: 400px;
}

.header .logo {
	position: absolute;
	width: 20%;
	left: 2.5%;
	bottom: 5%;
	border-radius: 10%;
	border: 2px solid white;
}

.header-contents {
	width: 100%;
	margin-left: 2rem;
}

.header-contents h2 {
	margin-top: 2rem;
	margin-bottom: 1rem;
	font-size: 25px;
	font-weight: 400;
	text-wrap: wrap;
}

.header-contents .info.active {
	color: rgb(73, 158, 63);
}

.header-contents .info.inactive {
	color: tomato;
}

.header-contents .info {
	display: flex;
	color: #808080;
	align-items: center;
	padding-bottom: 0.5rem;
}

.header-contents .info p {
	padding-left: 0.5rem;
	font-size: 15px;
	/* text-wrap: wrap; */
}

/* @media (width < 1300px) {
	.header .cover {
		overflow: hidden;
	}
} */

@media (width<768px) {
	.header {
		flex-direction: column;
		padding: 0;
		height: fit-content;
	}

	.header .header-cover .cover-image {
		max-width: 100%;
	}

	.header .cover .logo {
		width: 80px;
	}

	.header-contents {
		width: fit-content;
	}
}
